@font-face {
  font-family: "somefonts";
  src: url("fonts/somefonts.ttf?nz22pc") format("truetype"),
    url("fonts/somefonts.woff?nz22pc") format("woff"),
    url("fonts/somefonts.svg?nz22pc#somefonts") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "somefonts" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-b-crystal:before {
  content: "\e900";
}
.icon-less:before {
  content: "\e901";
  color: #fff;
}
.icon-php:before {
  content: "\e902";
  color: #fff;
}
.icon-w-crystal:before {
  content: "\e903";
  color: #fff;
}

html,
body {
  background-color: #0f0e17;
}

.spacer {
  flex: 1;
  min-height: 2vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  border-color: #e53170;
  background-color: black;
}

.card.main {
  align-items: center;
}

.chip {
  background-color: #0f0e17;
  color: #e53170;
}

.chips {
  margin-bottom: 15px;
}

.types {
  background-color: black;
}

.navbar {
  background-color: black;
  padding: 10px;
}

.label.label-warning {
  color: black;
}

.rest {
  background-color: #e53170;
  color: white;
}

code {
  color: #e53170;
  background-color: #0f0e17;
}

.code {
  color: #a7a9be;
  background-color: #0f0e17;
  overflow-x: auto;
}

.code::before {
  color: #e53170;
}

.rose-img {
  max-height: 75vh;
  max-width: 95vw;
  height: auto;
  display: block;
  margin: auto;
}

h1,
h5,
.card-body,
.card-header {
  color: white !important;
}

a:visited {
  color: #ff8906;
}

a.active,
a:active,
a:focus,
a:hover,
a {
  color: #ff8906;
}

.btn {
  border-color: #ff8906;
  color: #ff8906;
  background-color: black;
}

.btn:focus,
.btn:hover {
  background: black;
  border-color: #f25f4c;
  color: #f25f4c;
  text-decoration: none;
}

.btn.active,
.btn:active {
  background: #ff8906;
  border-color: #ff8906;
  color: black;
  text-decoration: none;
}

.menu {
  background: black;
}

.menu .menu-item > a {
  color: white;
}

.menu .menu-item > a:focus,
.menu .menu-item > a:hover {
  background: transparent;
  color: #ff8906;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.modal-men-btn {
  display: none;
}

.modal.active .modal-overlay,
.modal:target .modal-overlay {
  background: rgba(0, 0, 0, 0.75);
}

.modal-container {
  background: black;
  box-shadow: 0 0 1rem #e53170;
}

th,
td {
  color: white;
}

.filter .filter-tag#tag-0:checked ~ .filter-nav .chip[for="tag-0"],
.filter .filter-tag#tag-1:checked ~ .filter-nav .chip[for="tag-1"],
.filter .filter-tag#tag-2:checked ~ .filter-nav .chip[for="tag-2"],
.filter .filter-tag#tag-3:checked ~ .filter-nav .chip[for="tag-3"],
.filter .filter-tag#tag-4:checked ~ .filter-nav .chip[for="tag-4"],
.filter .filter-tag#tag-5:checked ~ .filter-nav .chip[for="tag-5"],
.filter .filter-tag#tag-6:checked ~ .filter-nav .chip[for="tag-6"],
.filter .filter-tag#tag-7:checked ~ .filter-nav .chip[for="tag-7"],
.filter .filter-tag#tag-8:checked ~ .filter-nav .chip[for="tag-8"] {
  background: #e53170;
  color: black;
}

.filter {
  text-align: center;
}

.filter-body {
  display: flex;
  flex-direction: column;
}

.divider-vert[data-content]::after {
  color: white;
  background-color: black;
}

.btn.btn-clear:focus,
.btn.btn-clear:hover {
  background: #0f0e17;
}

.modal-container .modal-header {
  color: white;
}

.modal-header {
  padding: .8rem .8rem 0 !important;
}

.modal-body {
  padding: 0rem .8rem.8rem !important;
}

.modal-body {
  text-align: center;
}

@media (max-width: 838px) {
  .modal-men-btn {
    display: block;
  }

  .mob-hide {
    display: none !important;
  }
}
