<!DOCTYPE html5>
<html>
    <head>
    <meta charset="UTF-8">
    <title>Error 😭</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- APPLE -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="bara.pictures">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <!-- FAVICONS -->
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">
    <link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#5bbad5">
    <!-- OG -->
    <meta property="og:description" content="The bara mansion">
    <meta name="og:site_name" content="『Geop』#4066">
    <meta property="og:title" content="bara.pictures">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bara.pictures/">
    <meta name="og:image" content="https://i.imgur.com/8uIUErO.png">
    <meta property="og:image:type" content="image/png">
    <style>
        body {
            background: #0f0e17;
            color: #fffffe;
            font-family: "Courier new";
            font-size: 18px;
            line-height: 1.5em;
            cursor: default;
        }

        a {
            color:#ff8906;
        }

        .code-area {
            position: absolute;
            width: 320px;
            min-width: 320px;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .code-area > span {
            display: block;
        }

        .comment {
            color: #a7a9be;
            font-style:italic;
        }

        .reserved {
            color: #e53170;
        }

        .string {
            color: #f25f4c;
            font-style: italic;
        }

        @media screen and (max-width: 320px) {
            .code-area {
                font-size: 5vw;
                min-width: auto;
                width: 95%;
                margin: auto;
                padding: 5px;
                padding-left: 10px;
                line-height: 6.5vw;
            }
        }
    </style>
    </head>
    <body>
        <div class="code-area">
            <span class="comment">
                // <%= error %>.
            </span>
            <span>
                <span class="reserved">
                    if
                </span>
	            (<span class="reserved">!</span><span style="font-style: italic;"><%= error_fun %></span>)
                {
            </span>
            <span>
                <span class="reserved">
                    <i style="width: 10px;display:inline-block"></i>throw
                </span>
                <span>
                    (<span class="string">"(╯°□°)╯︵ ┻━┻"</span>);
                </span>
	            <span style="display:block">}</span>
	            <span class="comment">
		                // <a href="/">Go home!</a>
	            </span>
            </span>
        </div>
    </body>
</html>