<div class="container">
  <div class="columns">
    <div class="column col-4 col-sm-12 col-mx-auto col-auto">
      <div class="card">
        <div class="card-header">
          <div class="card-title h5">I would like to report or takedown an image I own or don't like.</div>
        </div>
        <div class="card-body">
          We are here for you! You can either open an issue at our tracker on <a href="https://github.com/bara-pictures/takedown/issues">GitHub</a>,
          <br/>
          join the <a href="https://discord.gg/7XQNZGq">Discord Guild</a> or contact me on:
          <br/>
          <ul>
            <li>Twitter: <a href="https://twitter.com/Geop_Junior">@Geop_Junior</a></li>
            <li>Steam: <a href="https://steamcommunity.com/id/geopjunior">geopjunior</a></li>
            <li>Mastodon: <a href="https://tech.lgbt/@GeopJr">@GeopJr@tech.lgbt</a></li>
            <li>And more: <a href="https://geopjr.xyz/contact">https://geopjr.xyz/contact</a></li>
          </ul>
          We will take immediate action, as soon as we get notified.
        </div>
      </div>
    </div>
  </div>
</div>